.agenda-event-card {
  border-left-width: 10px !important;
  padding-top: 5px !important;

  .creator,
  .last-modification {
    display: flex;
    flex-direction: row;
    gap: 3px;
    width: 100%;
    justify-content: center;
    font-size: smaller;

    .creator-name,
    .last-modifier-name {
      font-style: italic;
    }
  }

  .game-master {
    font-size: small;
  }

  .description {
    background-color: whitesmoke;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
  }

  .card-item {
    padding-top: 5px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .buttons {
    display: flex;
    gap: 5px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .title {
    font-size: 22px;
  }
}
