@import '../../../scss/variables.scss';

.form-error {
  font-size: small;
  width: 100%;
  color: $primary;
}

input.title {
  font-size: 22px;
}
.form-label {
  font-weight: bold;
}
.inscriptions-section {
  background-color: azure;
  padding: 10px;
  border-radius: 5px;
}
