.key {
  display: flex;
  flex-direction: row;
  gap: 10px;

  .key-owner {
    display: flex;
    align-items: center;
  }

  .key-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .key-name {
      font-weight: bold;
      font-size: 20px;
    }
  }
}
