@import '../../../../scss/variables.scss';

.game-day-card {
  .events {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
}

.game-day {
  text-transform: uppercase;
}

.event {
  border-radius: 5px;
  text-align: left;
  padding: 5px;

  .event-start {
    font-weight: bold;
  }
}
