@import '../../../../scss/variables.scss';

.game-day-card {
  .events {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  .game-day-card-header {
    display: flex;
    justify-content: space-between;
    .day {
      display: flex;
      align-items: center;
      justify-items: center;
      font-weight: bold;
      color: $secondary;
    }
  }

  .open-close-room-infos {
    color: $primary;
    font-weight: bold;
  }
}

.game-day {
  text-transform: uppercase;
}

.event {
  border-radius: 5px;
  text-align: left;
  padding: 5px;

  .event-start {
    font-weight: bold;
  }
}
