.custom-card {
  -webkit-box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.14);

  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;

  &.clickable {
    &:hover {
      -webkit-box-shadow: inset 0px 0px 9px 1px rgba(0, 0, 0, 0.14);
      box-shadow: inset 0px 0px 9px 1px rgba(0, 0, 0, 0.14);
      cursor: pointer;
    }
  }
}
