@import '../../../../scss/variables.scss';

.subscriptions-title {
  font-size: larger;
}

.subscriptions {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  align-content: center;
  justify-content: center;
  padding-top: 5px;

  .empty-seat {
    color: $secondary;
  }
}
