@import '../../scss/variables.scss';
@import '../../scss/custom.scss';

nav.navbar {
  background-color: $primary;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 2px 7px 4px -5px $black;
  box-shadow: 2px 7px 4px -5px $black;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  .navbar-brand {
    color: $white;
    @include flex-horizontal;
  }

  @media (max-width: 375px) {
    .app-title {
      display: none;
    }
  }
}
