@import '../../scss/custom.scss';

.footer {
  .btn-group {
    @include flex-horizontal-fill;
    button {
      color: white;
      text-transform: uppercase;
    }

    button.icon-button {
      justify-content: center;
    }
  }
}
