@import '../../scss/custom.scss';

.footer {
  .btn-group {
    @include flex-horizontal-fill;

    -webkit-box-shadow: 0px -6px 15px -11px rgba(0,0,0,0.91);
    box-shadow: 0px -6px 15px -11px rgba(0,0,0,0.91);

    button {
      color: white;
      text-transform: uppercase;
    }

    button.icon-button {
      justify-content: center;
    }
  }
}
