@import '../../../scss/variables';

.users {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.user {
  display: flex;
  align-items: center;

  .room-key {
    padding: 2px;
    margin-left: 10px;
    background-color: $primary;
    border-radius: 5px;
    color: whitesmoke;
  }

  .name {
    font-size: 22px;
  }
}
