@import '../node_modules/bootstrap/scss/mixins/color-scheme';
@import './scss/variables.scss';

$max-width: 1280px;

#root {
  margin: 0 auto;
  text-align: center;

  .content {
    .outlet {
      -webkit-box-shadow: 0px 10px 14px -4px rgba(0, 0, 0, 0.36);
      box-shadow: 0px 10px 14px -4px rgba(0, 0, 0, 0.36);

      position: absolute;
      overflow: auto;
      width: 100%;
      padding-bottom: 50px;
    }
  }
}

@media (min-width: $max-width) {
  #root {
    max-width: $max-width;

    .outlet {
      max-width: $max-width;
    }
  }
}
