@import '../node_modules/bootstrap/scss/mixins/color-scheme';

#root {
  //max-width: 1280px;
  margin: 0 auto;
  text-align: center;

  .outlet {
    position: absolute;
    overflow: auto;
    width: 100%;
    padding-bottom: 50px;
  }
}
