@import '../node_modules/bootstrap/scss/mixins/color-scheme';

#root {
  //max-width: 1280px;
  margin: 0 auto;
  text-align: center;

  .content {
    /*display: flex;
    flex-direction: column;*/
    //max-width: 1280px;
    background-color: aquamarine;
  }

  .outlet {
    position: absolute;
    overflow: auto;
    width: 100%;
    padding-bottom: 50px;
  }
}
