@import '../node_modules/bootstrap/scss/mixins/color-scheme';

#root {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;

  .outlet {
    position: absolute;
    overflow: auto;
    width: 100%;
    padding-bottom: 50px;
  }
}

$max-width: 1280px;

@media (min-width: $max-width) {
  /*#root {
    max-width: $max-width;
  }*/
}
