@use './scss/variables' as *;
@use 'bootstrap/scss/bootstrap' with (
  $primary: $red,
  $secondary: $light-gray,
  $success: $green,
  $info: $blue,
  $warning: $yellow,
  $danger: $red
);
@use './scss/custom' as *;

body {
  background: #3f5efb;
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
}
