.room-priorities {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: small;
  align-content: center;
  justify-content: center;

  .room-priority {
    padding-left: 3px;
  }

  .activity {
    font-weight: bold;
    padding-left: 5px;
  }
}
